* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li::marker {
  color: #ffb800;
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

.top {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: #000;
  color: #fff;
}

.top .nav {
  float: right;
}

.top .nav > ul {
  display: flex;
  gap: 50px;
  margin-right: 50px;
  margin-top: 33px;
  list-style: none;
}

.top .nav > ul > li > a {
  color: #fff;
}

.top .nav > ul > li > a:hover {
  border-bottom: 3px solid #ffb800;
}

body {
  background-color: #000;
}

.profile {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1020px;
  height: 457.88px;
  display: flex;
}

.profile > img {
  width: 378.81px;
  height: 457.88px;
  /* width: 19.78%;
  height: 48.45%; */
}

.content {
  margin-left: 53.19px;
}

.content .profile_text {
  display: flex;
}

.content .profile_text > h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  margin-right: 32px;
}

.content .profile_text > .line {
  width: 70px;
  height: 3px;
  background-color: #fff;
  margin-top: 13px;
}

.name {
  font-weight: 400;
  font-size: 36px;
  color: #ffb800;
  margin-top: 1px;
}

.text {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  margin-top: 25px;
}

.experience {
  display: flex;
  margin-top: 23px;
}

.experience > h2 {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  margin-right: 54px;
}

.experience > .line {
  width: 70px;
  height: 3px;
  background-color: #fff;
  margin-top: 16px;
}

.experience_nav {
  height: 123px;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 25px;
  margin-top: 14px;
}

.experience_nav > li {
  margin-bottom: 11px;
  margin-right: 59px;
}

.uni {
  color: #fff;
  margin-top: 50px;
}
