* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .top {
    position: fixed;
    top: 0;
    width: 100%;
    height: 200px;
    background-color: #000;
    color: #fff;
    z-index: 1;
  }
  
  .top .nav {
    position: fixed;
    top: 85px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  
  .top .nav > ul {
    display: flex;
    gap: 50px;
    list-style: none;
  }
  
  .top .nav > ul > li {
    position: relative;
  }
  
  .top .nav > ul > li > a {
    color: #fff;
  }
  
  .top .nav > ul > li > a:hover {
    color: #ffb800;
  }
  
  .top .nav > ul > li::after {
    content: '';
    position: absolute;
    background-color: #ffb800;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 3px;
    transition: 0.3s;
    z-index: 1;
  }
  
  .top .nav > ul > li:hover::after {
    width: 100%;
  }
  
  .top .nav > ul > li:nth-child(3) > a {
    border-bottom: 3px solid #ffb800;
  }
  
  body {
    background-color: #000;
  }
  
  .back {
    position: fixed;
    top: 200px;
    left: 2.6%;
  }
  
  .content {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  
  .content > .back > img {
    width: 20px;
    height: 20px;
  }
  
  .content > .intro > p {
    position: absolute;
    top: 200px;
    left: 10.41%;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
  }
  
  .intro > .link {
    position: absolute;
    top: 200px;
    left: 76.56%;
    width: 7.81%;
    height: 50px;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
  }
  
  .intro > .link > a {
    height: 50px;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
  }
  
  .intro > .github > a > img {
    width: 2.6%;
    position: absolute;
    top: 200px;
    left: 86.97%;
  }
  
  .main > img {
    width: 83.33%;
    position: absolute;
    top: 350px;
    left: 8.33%;
    padding-bottom: 10.72%;
  }

  /* 스크롤바의 바탕과 스크롤 쓰개 */
  ::-webkit-scrollbar {
    width: 10px; /* 스크롤바 너비 */
    background-color: #333; /* 스크롤바 배경 색상 */
  }
  ::-webkit-scrollbar-thumb {
    background-color: #bbb; /* 스크롤바 쓰개 색상 */
  }
  
  /* 스크롤바의 좌우 버튼 */
  ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }
  
  /* 스크롤바가 없을 때 빈 공간의 색상 */
  ::-webkit-scrollbar-track-piece {
    background-color: #222;
  }