* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: #fff;
  z-index: 1;
  transition: height 0.3, background-color 0.3s;
}

.top.sticky {
  height: 70px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}

.top .nav {
  z-index: 1;
}

.top .nav > ul {
  display: flex;
  gap: 50px;
  list-style: none;
}

.top .nav > ul > li {
  position: relative;
}

.top .nav > ul > li > a {
  color: #000;
  line-height: 100px;
}

.top .nav > ul > li > a:hover {
  color: #ffb800;
}

.top .nav > ul > li::after {
  content: '';
  position: absolute;
  background-color: #ffb800;
  left: 0;
  bottom: 15px;
  width: 0;
  height: 3px;
  transition: 0.3s;
  z-index: 1;
}

.top .nav > ul > li:hover::after {
  width: 100%;
}

.top .nav > ul > li:nth-child(4)::after {
  content: '';
  position: absolute;
  background-color: #ffb800;
  left: 0;
  bottom: 15px;
  width: 100%;
  height: 3px;
  z-index: 1;
}

body {
  background-color: #fff;
  position: relative;
}

.content {
  width: 970px;
  height: 1145px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  position: relative;
}

.popup-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  position: absolute;
  top: 200px;
  opacity: 0;
  transform: translateY(50%);
  transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
}

.popup-gallery img {
  width: 100%;
  display: block;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
}

.popup-gallery img:hover {
  scale: 1.1;
  transition: 0.5s;
}

.mfp-title > small {
  display: none;
}

/* 스크롤바의 바탕과 스크롤 쓰개 */
::-webkit-scrollbar {
  width: 10px; /* 스크롤바 너비 */
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bbb; /* 스크롤바 쓰개 색상 */
}

/* 스크롤바의 좌우 버튼 */
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

/* 스크롤바가 없을 때 빈 공간의 색상 */
::-webkit-scrollbar-track-piece {
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .top .nav > ul {
    gap: 16px;
  }

  .content {
    transform: translate(-50%) scale(0.5);
    position: relative;
    height: 885px;
  }

  .popup-gallery {
    position: absolute;
    top: 0;
  }
}
