* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.Desktop-1 {
  /* Desktop - 1 */
  position: relative;
  background: #ffffff;
  font-family: 'Inter';
  font-style: normal;
}

.Frame1 {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 54px;
  background: #000008;
  z-index: 10;
}

.Frame1 .ZEPETO {
  position: absolute;
  width: 56px;
  height: 17px;
  left: 26px;
  top: 23px;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}

.Frame1 .Rectangle1 {
  /* Rectangle 1 */
  position: absolute;
  width: 43px;
  height: 14px;
  left: 86px;
  top: 24px;
  background: #ffffff;
  border-radius: 4px;
}

.Frame1 .STUDIO {
  position: absolute;
  left: 89px;
  top: 25px;
  font-weight: 600;
  font-size: 9px;
  color: #000000;
}

.Frame1 .content {
  position: absolute;
  height: 15px;
  left: 171px;
  top: 24px;
  font-weight: 500;
  font-size: 12px;
  color: #727276;
}

.Frame1 .content:hover {
  color: #fff;
}

.Frame1 .creator_program {
  /* 크리에이터 프로그램 */
  position: absolute;
  left: 237px;
  top: 23px;
  font-weight: 500;
  font-size: 12px;
  color: #727276;
}

.Frame1 .creator_program:hover {
  color: #fff;
}

.Frame1 .business {
  /* 비즈니스 */
  position: absolute;
  left: 366px;
  top: 23px;
  font-weight: 500;
  font-size: 12px;
  color: #727276;
}

.Frame1 .business:hover {
  color: #fff;
}

.Frame1 .guide {
  /* 가이드 */
  position: absolute;
  left: 433px;
  top: 23px;
  font-weight: 500;
  font-size: 12px;
  color: #727276;
}

.Frame1 .guide:hover {
  color: #fff;
}

.Frame1 .new {
  /* new */
  position: absolute;
  width: 19px;
  height: 14px;
  left: 440px;
  top: 10px;
}

.Frame1 .support {
  /* 지원 */
  position: absolute;
  left: 500px;
  top: 24px;
  font-weight: 500;
  font-size: 12px;
  color: #727276;
}

.Frame1 .support:hover {
  color: #fff;
}

.Frame1 .Rectangle3 {
  /* Rectangle 3 */
  position: absolute;
  width: 83px;
  height: 27px;
  right: 6%;
  top: 32%;
  border: 1px solid #ffffff;
  border-radius: 4px;
  /* 콘텐츠 관리 */
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  line-height: 27px;
  color: #ffffff;
}

.Frame1 .Vector_3 {
  /* Vector */
  position: absolute;
  left: 96.12%;
  right: 2.4%;
  top: 38.89%;
  bottom: 24.16%;
  width: 16px;
  height: 19.95px;
  cursor: pointer;
}

.Frame2 {
  position: relative;
  aspect-ratio: 16/9;
  width: 100%;
}

.Frame2_video {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.Frame2_inner {
  aspect-ratio: 16/9;
  width: 100%;
  position: relative;
}

.Frame2_content {
  position: absolute;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650.44px;
  height: 180px;
}

.Frame2_title {
  /* 상상하는 모든 것. 제페토 스튜디오에서. */
  font-weight: 600;
  font-size: 46px;
  line-height: 55.67px;
  color: #fff;
  text-align: center;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.btn-link {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,100%);
  height: 46px;
  line-height: 46px;
  width: 106px;
  height: 46px;
  border-radius: 23px;
  font-size: 16px;
  background-color: #ffffff;
  text-align: center;
  color: #7d6aff;
  font-weight: 600;
  display: inline-block;
  opacity: 0;
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.Frame3 {
  /* Frame 3 */
  width: 1082px;
  height: 809px;
  background: #ffffff;
  position: relative;
  margin: 0 auto;
}

.Frame3_title {
  /* 크리에이터를 위한 제페토. */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 81px;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 0.03em;
  color: #000000;
}

.Frame3_p {
  /* 제페토 크리에이터는 제페토 세상의 모든 것을 직접 만들 수 있습니다. 전 세계 3억 유저에게 당신의 아이디어를 보여주세요! */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* left: 308px; */
  top: 142px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #6b6b6f;
}

.Frame3_img {
  /* image 2 */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* left: 138px; */
  top: 236px;
  width: 800px;
  height: 405.47px;
}

.Frame3_t1 {
  /* 6800만 */
  position: absolute;
  left: 311px;
  top: 683px;
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #000000;
}

.Frame3_p1 {
  /* 스튜디오 아이템 판매량 */
  position: absolute;
  left: 282px;
  top: 713px;
  height: 15px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #646469;
}

.Frame3_t2 {
  /* 230만 */
  position: absolute;
  left: 524px;
  top: 683px;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.01em;
  color: #000000;
}

.Frame3_p2 {
  /* 스튜디오 크리에이터 수 */
  position: absolute;
  left: 489px;
  top: 713px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #646469;
}

.Frame3_t3 {
  /* 3억 */
  position: absolute;
  left: 742px;
  top: 683px;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.01em;
  color: #000000;
}

.Frame3_p3 {
  /* 제페토 가입자 수 */
  position: absolute;
  left: 713px;
  top: 713px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #646469;
}

.Frame4 {
  height: 599px;
  background: #f8f8fa;
}

.Frame4_box {
  /* Frame 4 */
  position: relative;
  width: 1082px;
  height: 599px;
  margin: 0 auto;
}

.Frame4_title {
  /* 제페토 세상이 내 손안에. */
  position: absolute;
  height: 48px;
  left: 331px;
  top: 84px;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 0.02em;
  color: #000000;
}

.Frame4_p {
  /* 아이템, 월드, 라이브까지. 제페토는 크리에이터가 아이디어를 펼칠 수 있는 최고의 플랫폼입니다. */
  position: absolute;
  left: 307px;
  top: 144px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #55555a;
}

.Frame4_r1 {
  /* r1 */
  position: absolute;
  width: 216px;
  height: 282px;
  left: 192px;
  top: 236px;
  background: #ffffff;
  border-radius: 10px;
}

.Frame4_icon1 {
  /* icon1 */
  position: absolute;
  width: 60px;
  height: 60px;
  left: 270px;
  top: 264px;
}

.Frame4_t1 {
  /* 아이템 */
  position: absolute;
  left: 272px;
  top: 349px;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.01em;
  color: #000000;
}

.Frame4_p1 {
  /* 패션 아이템을 만들고 수익을 창출하세요. */
  position: absolute;
  left: 245px;
  top: 381px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #646469;
}

.Frame4_re1 {
  position: absolute;
  width: 136px;
  height: 33px;
  left: 232px;
  top: 463px;
  background: #5c46ff;
  border-radius: 16.5px;
}

.Frame4_rp1 {
  /* 더 알아보기 */
  position: absolute;
  left: 269px;
  top: 472px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.Frame4_r2 {
  /* r2 */
  position: absolute;
  width: 216px;
  height: 282px;
  left: 433px;
  top: 236px;
  background: #ffffff;
  border-radius: 10px;
}

.Frame4_icon2 {
  /* icon2 */
  position: absolute;
  width: 60px;
  height: 60px;
  left: 511px;
  top: 264px;
}

.Frame4_t2 {
  /* 월드 */
  position: absolute;
  left: 523px;
  top: 349px;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.01em;
  color: #000000;
}

.Frame4_p2 {
  /* 제페토 세상에 내 아이디어가 담긴 월드를 만드세요. */
  position: absolute;
  left: 492px;
  top: 381px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #646469;
}

.Frame4_re2 {
  position: absolute;
  width: 136px;
  height: 33px;
  left: 473px;
  top: 463px;
  background: #5c46ff;
  border-radius: 16.5px;
}

.Frame4_rp2 {
  /* 더 알아보기 */
  position: absolute;
  left: 510px;
  top: 472px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.Frame4_r3 {
  /* r3 */
  position: absolute;
  width: 216px;
  height: 282px;
  left: 674px;
  top: 236px;
  background: #ffffff;
  border-radius: 10px;
}

.Frame4_icon3 {
  /* icon3 */
  position: absolute;
  width: 60px;
  height: 60px;
  left: 752px;
  top: 264px;
}

.Frame4_t3 {
  /* 라이브 */
  position: absolute;
  height: 24px;
  left: 754px;
  top: 349px;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.01em;
  color: #000000;
}

.Frame4_p3 {
  /* 전 세계 유저들과 실시간 방송하세요. */
  position: absolute;
  left: 733px;
  top: 381px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #646469;
}

.Frame4_re3 {
  position: absolute;
  width: 136px;
  height: 33px;
  left: 714px;
  top: 463px;
  background: #5c46ff;
  border-radius: 16.5px;
}

.Frame4_rp3 {
  /* 더 알아보기 */
  position: absolute;
  left: 751px;
  top: 472px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.Frame5 {
  /* Frame 5 */
  width: 1082px;
  height: 656px;
  margin: 0 auto;
  background: #ffffff;
  position: relative;
}

.Frame5_title {
  /* 3억 명을 사로잡을 크리에이터가 될 기회. */
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
  margin-top: 83px;
}

.Frame5_p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #55555a;
  margin-top: 11px;
}

.bul_box {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  overflow: hidden;
  width: 1000px;
  height: 400px;
  margin: 0 auto;
  background-color: #7d6aff;
}

.bul {
  margin: 0 auto;
  margin: 100px 0;
}

.bul .item > img {
  width: 100%;
  transform: scale(0.8);
  transition: 0.5s;
  /* margin: 0 40px; */
}

.slick-list {
  padding: 0 !important;
}

.name_tag {
  display: none;
}

.name {
  text-align: center;
  margin-top: 40px;
  font-weight: 600;
  font-size: 16px;
}

.tag {
  text-align: center;
  font-weight: 500;
  font-size: 11px;
  color: #55555a;
}

.bul .item.slick-center .name_tag {
  display: initial;
  transition: 0.3s;
}

.bul .item.slick-center img {
  transform: scale(1);
}

.Frame6 {
  /* Frame 6 */
  width: 100%;
  height: 631px;
  background: #f8f8fa;
}

.Frame6_box {
  position: relative;
  width: 1082px;
  height: 631px;
  margin: 0 auto;
}

.Frame6_title {
  /* 크리에이터의 수익 창출은 기본. */
  position: absolute;
  left: 274px;
  top: 84px;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 0.02em;
  color: #000000;
}

.Frame6_p {
  /* 다양한 콘텐츠를 만들고 수익도 올려보세요. */
  position: absolute;
  left: 396px;
  top: 144px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #55555a;
  z-index: 1;
}

.Frame6_video {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  /* Create a circular mask with a gradient that goes from white to black */
  /* mask-image: radial-gradient(circle, white, black); */
  /* mask: radial-gradient(circle, white 0%, black 100%); */
}

.Frame7 {
  /* Frame 7 */
  position: relative;
  width: 1082px;
  height: 577px;
  margin: 0 auto;
  background: #ffffff;
}

.Frame7_title {
  /* 이제 나도 제페토 크리에이터. */
  position: absolute;
  left: 293px;
  top: 85px;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 0.02em;
  color: #000000;
}

.Frame7_p {
  /* 간단한 3가지 과정만 거치면 제페토 크리에이터가 될 수 있습니다. 궁금한 점이 있다면 사이트 상단 [지원]을 통해 문의해 주세요. */
  position: absolute;
  left: 320px;
  top: 143px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #55555a;
}

.Frame7_r {
  position: absolute;
  width: 100px;
  height: 39px;
  left: 491px;
  top: 209px;
  background: #5c46ff;
  border-radius: 19.5px;
}

.Frame7_rp {
  /* 시작하기 */
  position: absolute;
  left: 513px;
  top: 220px;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.Frame7_rg {
  position: absolute;
  width: 800px;
  height: 195px;
  left: 141px;
  top: 301px;
  background: #f8f8fa;
  border-radius: 10px;
}

.Frame7_e1 {
  position: absolute;
  width: 27px;
  height: 27px;
  border-radius: 27px;
  left: 263px;
  top: 340px;
  background: #f0f0f0;
}

.Frame7_n1 {
  /* 1 */
  position: absolute;
  left: 273px;
  top: 345px;
  font-weight: 500;
  font-size: 15px;
  color: #000000;
}

.Frame7_t1 {
  /* 제페토 스튜디오 가입하기 */
  position: absolute;
  left: 190px;
  top: 383px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #000000;
}

.Frame7_p1 {
  /* 제페토 계정만 있다면 누구나 무료로 가 입할 수 있습니다. */
  position: absolute;
  left: 181px;
  top: 411px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #55555a;
}

.Frame7_v1 {
  position: absolute;
  left: 37.62%;
  right: 61.65%;
  top: 404px;
  bottom: 27.73%;
  width: 8px;
  height: 13px;
}

.Frame7_e2 {
  position: absolute;
  width: 27px;
  height: 27px;
  border-radius: 27px;
  left: 527px;
  top: 340px;
  background: #f0f0f0;
}

.Frame7_n2 {
  /* 2 */
  position: absolute;
  left: 536px;
  top: 345px;
  font-weight: 500;
  font-size: 15px;
  color: #000000;
}

.Frame7_t2 {
  /* 콘텐츠 제작 */
  position: absolute;
  left: 501px;
  top: 383px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #000000;
}

.Frame7_p2 {
  /* 제작에 필요한 모든 가이드를 제공합니 다. 지금 바로 시작하세요. */
  position: absolute;
  left: 445px;
  top: 411px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #55555a;
}

.Frame7_v2 {
  position: absolute;
  left: 62.01%;
  right: 37.25%;
  top: 70.02%;
  bottom: 27.73%;
  width: 8px;
  height: 13px;
}

.Frame7_e3 {
  position: absolute;
  width: 27px;
  height: 27px;
  border-radius: 27px;
  left: 791px;
  top: 340px;
  background: #f0f0f0;
}

.Frame7_n3 {
  /* 3 */
  position: absolute;
  left: 800px;
  top: 345px;
  font-weight: 500;
  font-size: 15px;
  color: #000000;
}

.Frame7_t3 {
  /* 콘텐츠 심사 */
  position: absolute;
  left: 765px;
  top: 383px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #000000;
}

.Frame7_p3 {
  /* 제페토 유저들이 안전하고 즐겁게 즐길 수 있도록 심사를 거친 후 공개됩니다. 바 로 시작하세요. */
  position: absolute;
  left: 700px;
  top: 411px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #55555a;
}

.Frame8 {
  /* Frame 8 */
  width: 100%;
  height: 222px;
  position: relative;
}

.Frame8_line_top {
  width: 100%;
  border: 1px solid #f9f9fb;
}

.Frame8_box {
  width: 1082px;
  height: 222px;
  position: relative;
  margin: 0 auto;
}

.Frame8_ul {
  display: flex;
  position: absolute;
  top: 30px;
  left: 86px;
}

.Frame8_ul li {
  width: 99px;
  font-size: 8px;
  margin-bottom: 8px;
}

.Frame8_ul_title {
  font-weight: 600;
  color: #000;
  font-size: 9px;
  display: block;
  margin-bottom: 7px;
}

.Frame8_r1 {
  position: absolute;
  width: 87px;
  height: 27px;
  right: 178px;
  top: 30px;
  background: #f5f5f6;
  border-radius: 6px;
  display: flex;
}

.Frame8_v1 {
  width: 8px;
  height: 10px;
  margin-top: 9px;
  margin-left: 13px;
}

.Frame8_r1p {
  /* Google Play */
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  color: #000000;
  margin-top: 4px;
  margin-left: 7px;
}

.Frame8_r2 {
  position: absolute;
  width: 87px;
  height: 27px;
  right: 86px;
  top: 30px;
  background: #f5f5f6;
  border-radius: 6px;
  display: flex;
}

.Frame8_v2 {
  width: 8px;
  height: 10px;
  margin-top: 9px;
  margin-left: 18px;
}

.Frame8_r2p {
  /* App Store */
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  color: #000000;
  margin-top: 9px;
  margin-left: 5px;
}

.Frame8_line_bottom {
  position: absolute;
  width: 100%;
  top: 150px;
  border: 1px solid #f9f9fb;
}

.Frame8_corp {
  font-weight: 500;
  font-size: 8px;
  color: #b2b4b5;
  display: flex;
  position: absolute;
  top: 169px;
  left: 87px;
}

.Frame8_corp > li::after {
  content: '';
  display: inline-block;
  margin: 0 7px;
  width: 1px;
  height: 9px;
  background: #b2b4b5;
}

.Frame8_corp > li:last-child::after {
  display: none;
}

.Frame8_nav {
  font-size: 9px;
  color: #b2b4b5;
  position: absolute;
  bottom: 41px;
  right: 91px;
  display: flex;
}

.Frame8_nav > li {
  margin-left: 10px;
}

.Frame8_nav > li > img {
  height: 11px;
}
