* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.Desktop-1 {
  /* Desktop - 1 */
  position: relative;
  background: #ffffff;
  font-family: 'Inter';
  font-style: normal;
}

.Frame1 {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 54px;
  background: #000008;
  z-index: 1;
}

.Frame1 .ZEPETO {
  position: absolute;
  width: 56px;
  height: 17px;
  left: 26px;
  top: 23px;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}

.Frame1 .Rectangle1 {
  /* Rectangle 1 */
  position: absolute;
  width: 43px;
  height: 14px;
  left: 86px;
  top: 24px;
  background: #ffffff;
  border-radius: 4px;
}

.Frame1 .STUDIO {
  position: absolute;
  left: 89px;
  top: 25px;
  font-weight: 600;
  font-size: 9px;
  color: #000000;
}

.Frame1 .content {
  position: absolute;
  height: 15px;
  left: 171px;
  top: 24px;
  font-weight: 500;
  font-size: 12px;
  color: #727276;
}

.Frame1 .content:hover {
  color: #fff;
}

.Frame1 .Vector {
  /* Vector */
  position: absolute;
  left: 209px;
  top: 30px;
  width: 6px;
  height: 3px;
}

.Frame1 .creator_program {
  /* 크리에이터 프로그램 */
  position: absolute;
  left: 237px;
  top: 23px;
  font-weight: 500;
  font-size: 12px;
  color: #727276;
}

.Frame1 .creator_program:hover {
  color: #fff;
}

.Frame1 .business {
  /* 비즈니스 */
  position: absolute;
  left: 366px;
  top: 23px;
  font-weight: 500;
  font-size: 12px;
  color: #727276;
}

.Frame1 .business:hover {
  color: #fff;
}

.Frame1 .guide {
  /* 가이드 */
  position: absolute;
  left: 433px;
  top: 23px;
  font-weight: 500;
  font-size: 12px;
  color: #727276;
}

.Frame1 .guide:hover {
  color: #fff;
}

.Frame1 .Vector_2 {
  /* Vector */
  position: absolute;
  left: 471px;
  top: 30px;
  width: 6px;
  height: 3px;
}

.Frame1 .new {
  /* new */
  position: absolute;
  width: 19px;
  height: 14px;
  left: 440px;
  top: 10px;
}

.Frame1 .support {
  /* 지원 */
  position: absolute;
  left: 500px;
  top: 24px;
  font-weight: 500;
  font-size: 12px;
  color: #727276;
}

.Frame1 .support:hover {
  color: #fff;
}

.Frame1 .Rectangle3 {
  /* Rectangle 3 */
  position: absolute;
  width: 83px;
  height: 27px;
  right: 6%;
  top: 32%;
  border: 1px solid #ffffff;
  border-radius: 4px;
  /* 콘텐츠 관리 */
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  line-height: 27px;
  color: #ffffff;
}

.Frame1 .Vector_3 {
  /* Vector */
  position: absolute;
  left: 96.12%;
  right: 2.4%;
  top: 38.89%;
  bottom: 24.16%;
  width: 16px;
  height: 19.95px;
  cursor: pointer;
}

.Frame2 {
  position: relative;
  width: 1082px;
  height: 1254px;
  margin: 0 auto;
}

.Frame2_h1 {
  position: absolute;
  top: 144px;
  left: 275px;
  font-weight: 600;
  font-size: 46px;
  color: #292930;
  transform: translateY(100%);
  opacity: 0;
  transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
}

.Frame2_p {
  position: absolute;
  top: 210px;
  left: 365px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  text-align: center;
  color: #36363c;
  transform: translateY(100%);
  opacity: 0;
  transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
}

.Frame2_support {
  position: absolute;
  top: 269px;
  left: 492px;
  width: 98px;
  height: 38px;
  border-radius: 20px;
  background-color: #5c46ff;
  /* 지원하기 */
  text-align: center;
  line-height: 38px;
  color: #fefdff;
  font-weight: 400;
  font-size: 15px;
}

.Frame2_ul {
  position: absolute;
  top: 367px;
  left: 201px;
  display: flex;
  gap: 22px;
  flex-wrap: wrap;
}

.Frame2_li {
  width: 212px;
  height: 237px;
  background-color: #fafafb;
  border-radius: 15px;
  position: relative;
  text-align: center;
}

.Frame2_li_img {
  width: 55px;
  height: 55px;
  position: absolute;
  top: 26px;
  left: 78px;
}

.Frame2_li_h2 {
  margin-top: 94px;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 20px;
  color: #292930;
}

.Frame2_li_p {
  font-weight: 400;
  font-size: 12px;
  color: #36363c;
}

.Frame3 {
  width: 1082px;
  height: 700px;
  position: relative;
  margin: 0 auto;
}

.Frame3_h2 {
  position: absolute;
  top: 60px;
  left: 420px;
  font-weight: 600;
  font-size: 40px;
  color: #000;
}

.Frame3_ul {
  position: absolute;
  top: 185px;
  left: 203px;
  display: flex;
  flex-wrap: wrap;
}

.Frame3_li {
  width: 365px;
  height: 94px;
  display: flex;
}

.Frame3_rectangle {
  width: 42px;
  height: 42px;
  border-radius: 42px;
  background-color: #5c46ff;
  text-align: center;
  line-height: 42px;
  font-size: 22px;
  font-weight: 600;
  color: #fefdff;
  margin-right: 16px;
}

.Frame3_li_p {
  font-weight: 600;
  font-size: 17px;
  line-height: 20.57px;
  color: #000;
}

.Frame3_img {
  width: 800px;
  height: 270.27px;
  position: absolute;
  top: 381px;
  left: 141px;
}

.Frame4 {
  width: 1082px;
  height: 900px;
  margin: 0 auto;
  position: relative;
}

.prev {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 400px;
  left: 114px;
}

.next {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 400px;
  right: 114px;
}

.Frame4_h2 {
  font-weight: 600;
  font-size: 41px;
  text-align: center;
  margin-top: 86px;
}

.Frame4_p {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-top: 12px;
}

.Frame4_ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 51px;
  margin-left: 191px;
}

.Frame4_li {
  width: 337px;
  height: 244px;
  border-radius: 15px;
  margin-right: 26px;
  margin-bottom: 22.39px;
  position: relative;
  background-position: center;
  background-size: cover;
  transition: all 0.3s;
}

.Frame4_li:hover {
  color: #fff;
}

.Frame4_li_img {
  position: absolute;
  top: 15px;
  left: 23px;
  width: 20px;
  height: 20px;
}

.i1 {
  background-image: url(../images/i1.webp);
}

.i1:hover {
  background-image: url(../images/h1.webp);
}

.i2 {
  background-image: url(../images/i2.webp);
}

.i2:hover {
  background-image: url(../images/h2.webp);
}

.i3 {
  background-image: url(../images/i3.webp);
}

.i3:hover {
  background-image: url(../images/h3.webp);
}

.i4 {
  background-image: url(../images/i4.webp);
}

.i4:hover {
  background-image: url(../images/h4.webp);
}

.i5 {
  background-image: url(../images/i5.webp);
}

.i5:hover {
  background-image: url(../images/h5.webp);
}

.i6 {
  background-image: url(../images/i6.webp);
}

.i6:hover {
  background-image: url(../images/h6.webp);
}

.i7 {
  background-image: url(../images/i7.webp);
}

.i7:hover {
  background-image: url(../images/h7.webp);
}

.i8 {
  background-image: url(../images/i8.webp);
}

.i8:hover {
  background-image: url(../images/h8.webp);
}

.i9 {
  background-image: url(../images/i9.webp);
}

.i9:hover {
  background-image: url(../images/h9.webp);
}

.i10 {
  background-image: url(../images/i10.webp);
}

.i10:hover {
  background-image: url(../images/h10.webp);
}

.i11 {
  background-image: url(../images/i11.webp);
}

.i11:hover {
  background-image: url(../images/h11.webp);
}

.i12 {
  background-image: url(../images/i12.webp);
}

.i12:hover {
  background-image: url(../images/h12.webp);
}

.i13 {
  background-image: url(../images/i13.webp);
}

.i13:hover {
  background-image: url(../images/h13.webp);
}

.i14 {
  background-image: url(../images/i14.webp);
}

.i14:hover {
  background-image: url(../images/h14.webp);
}

.i15 {
  background-image: url(../images/i15.webp);
}

.i15:hover {
  background-image: url(../images/h15.webp);
}

.i16 {
  background-image: url(../images/i16.webp);
}

.i16:hover {
  background-image: url(../images/h16.webp);
}

.i17 {
  background-image: url(../images/i17.png);
}

.i17:hover {
  background-image: url(../images/h17.webp);
}

.i18 {
  background-image: url(../images/i18.png);
}

.i18:hover {
  background-image: url(../images/h18.webp);
}

.i19 {
  background-image: url(../images/i19.png);
}

.i19:hover {
  background-image: url(../images/h19.webp);
}

.i20 {
  background-image: url(../images/i20.png);
}

.i20:hover {
  background-image: url(../images/h20.webp);
}

.Frame4_li_h3 {
  position: absolute;
  top: 46px;
  left: 25px;
  font-weight: 700;
  font-size: 16px;
  color: #fefdff;
}

.Frame4_li_h4 {
  position: absolute;
  top: 68px;
  left: 25px;
  font-weight: 500;
  font-size: 13px;
  color: #fefdff;
}

.Frame4_li_p {
  position: absolute;
  top: 95px;
  left: 25px;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #fcfefe;
  z-index: 1;
}

.Frame4_li_View_Profile {
  position: absolute;
  bottom: 19.61px;
  left: 25px;
  font-weight: 500;
  font-size: 14px;
  color: #c7e7ec;
}

.Frame4_li_View_Profile:hover {
  color: #fff;
}

.Frame4_li:nth-child(1) {
  background-color: #52b5c3;
}

.Frame4_li:nth-child(2) {
  background-color: #8456c4;
}

.Frame4_li:nth-child(3) {
  background-color: #d6af00;
}

.Frame4_li:nth-child(4) {
  background-color: #4aa471;
}

.Frame5 {
  height: 830px;
  background-color: #f8f8fa;
}

.Frame5_box {
  width: 1082px;
  height: 830px;
  position: relative;
  margin: 0 auto;
}

.Frame5_FAQ {
  width: 746px;
  height: 659px;
  border-radius: 12px;
  position: absolute;
  top: 85px;
  left: 168px;
  background-color: #fff;
  position: relative;
}

.Frame5_h2 {
  position: absolute;
  top: 41px;
  left: 337px;
  font-weight: 700;
  font-size: 36px;
  color: #000;
}

.Frame5_ul {
  position: absolute;
  top: 126px;
  left: 75px;
}

.Frame5_li {
  display: flex;
  width: 594px;
  margin-bottom: 28px;
  justify-content: space-between;
}

.Frame5_li_Q {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background-color: #f0f0f0;
  text-align: center;
  line-height: 24px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  margin-right: 9px;
}

.Frame5_li_p {
  font-size: 12px;
  font-weight: 500;
}

.Frame5_li_j {
  display: flex;
}

.Frame6 {
  width: 1082px;
  height: 291px;
  position: relative;
  margin: 0 auto;
}

.Frame6_h2 {
  position: absolute;
  top: 59px;
  left: 305px;
  color: #000;
  font-weight: 600;
  font-size: 40px;
  line-height: 48.41px;
  text-align: center;
}

.Frame6_rectangle {
  width: 100px;
  height: 39px;
  border-radius: 19.5px;
  background-color: #5c46ff;
  position: absolute;
  top: 172px;
  left: 491px;
  color: #fff;
  text-align: center;
  line-height: 39px;
}

.Frame8 {
  /* Frame 8 */
  width: 100%;
  height: 222px;
}

.Frame8_line_top {
  width: 100%;
  border: 1px solid #f9f9fb;
}

.Frame8_box {
  width: 1082px;
  height: 222px;
  position: relative;
  margin: 0 auto;
}

.Frame8_ul {
  display: flex;
  position: absolute;
  top: 30px;
  left: 86px;
}

.Frame8_ul li {
  width: 99px;
  font-size: 8px;
  margin-bottom: 8px;
}

.Frame8_ul_title {
  font-weight: 600;
  color: #000;
  font-size: 9px;
  display: block;
  margin-bottom: 7px;
}

.Frame8_r1 {
  position: absolute;
  width: 87px;
  height: 27px;
  right: 178px;
  top: 30px;
  background: #f5f5f6;
  border-radius: 6px;
  display: flex;
}

.Frame8_v1 {
  width: 8px;
  height: 10px;
  margin-top: 9px;
  margin-left: 13px;
}

.Frame8_r1p {
  /* Google Play */
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  color: #000000;
  margin-top: 4px;
  margin-left: 7px;
}

.Frame8_r2 {
  position: absolute;
  width: 87px;
  height: 27px;
  right: 86px;
  top: 30px;
  background: #f5f5f6;
  border-radius: 6px;
  display: flex;
}

.Frame8_v2 {
  width: 8px;
  height: 10px;
  margin-top: 9px;
  margin-left: 18px;
}

.Frame8_r2p {
  /* App Store */
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  color: #000000;
  margin-top: 9px;
  margin-left: 5px;
}

.Frame8_line_bottom {
  position: absolute;
  width: 100%;
  top: 150px;
  border: 1px solid #f9f9fb;
}

.Frame8_corp {
  font-weight: 500;
  font-size: 8px;
  color: #b2b4b5;
  display: flex;
  position: absolute;
  top: 169px;
  left: 87px;
}

.Frame8_corp > li::after {
  content: '';
  display: inline-block;
  margin: 0 7px;
  width: 1px;
  height: 9px;
  background: #b2b4b5;
}

.Frame8_corp > li:last-child::after {
  display: none;
}

.Frame8_nav {
  font-size: 9px;
  color: #b2b4b5;
  position: absolute;
  bottom: 41px;
  right: 91px;
  display: flex;
}

.Frame8_nav > li {
  margin-left: 10px;
}

.Frame8_nav > li > img {
  height: 11px;
}
