@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

/* title_all */
.title_all {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 70px;
  background-color: #fff;
  z-index: 1;
}

.title {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 1600px;
  height: 70px;
  z-index: 1;
}

.head {
  background-color: #0050a0;
  width: 182px;
  height: 160px;
  margin: 0 0 0 199px;
}

.head img {
  width: 74px;
  margin: 30px 0 0 55px;
}

.head h1 {
  color: #f3f7fb;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu ul {
  display: flex;
  padding: 24px 30px;
}

.menu ul li a {
  margin: 35px;
  color: #666666;
}

.lan {
  display: flex;
}

.lan p {
  margin-top: 24px;
  color: #666666;
}

.lan .line {
  border-right: 1px solid #666666;
  margin-bottom: 115px;
  margin-left: 20px;
  margin-right: 20px;
}
.lan img {
  width: 33px;
  height: 33px;
  margin: 10px;
}

/* Group2 */
.Group2 {
  width: 100%;
  height: 422px;
  background-image: url('../images/img_02.png');
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 70px;
  text-align: center;
  color: #fff;
  position: relative;
}

.Group2 .c_title {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Group2 h1 {
  font-size: 44px;
}

.Group2 h2 {
  font-size: 18px;
}

.Group2 .c_menu {
  display: flex;
  width: 1200px;
  height: 60px;
  background-color: #123e75;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.Group2 .c_menu .cli {
  width: 240px;
  height: 60px;
  padding-top: 18px;
}

.Group2 .c_menu .cli p {
  border-right: 1px solid #416a9b;
}

.Group2 .c_menu .cli:first-child p {
  border: none;
}

.Group2 .c_menu .cli:last-child p {
  border: none;
}

.Group2 .c_menu .cli_01 {
  background-color: #fff;
  color: #1a62ab;
}

/* Group3 */
.Group3 {
  width: 1462px;
  height: 678px;
  background-image: url(../images/img_03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
  margin-bottom: 117px;
}

.Group3 .f_wbox {
  width: 1361px;
  height: 137px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.f_wbox p {
  font-size: 20px;
  color: #555;
  font-weight: 700;
  margin-top: 80px;
  margin-left: 80px;
}

.f_wbox p span {
  color: #0593d2;
}

.Group3 .f_bbox {
  width: 180px;
  height: 58px;
  background-color: #115cae;
  opacity: 70%;
  position: absolute;
  bottom: 108px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  line-height: 58px;
}

.Group3 .f_bbox a {
  margin: 0 20px;
}

/* Group4 */
.Group4 {
  width: 1200px;
  height: 530px;
  margin: 0 auto;
}

.Group4 .left {
  float: left;
  width: 600px;
  height: 530px;
}

.Group4 .left img {
  width: 500px;
  height: 340px;
}

.Group4 .right {
  float: right;
  width: 600px;
  height: 530px;
  position: relative;
}

.Group4 .right h1 {
  font-size: 31px;
  color: #222;
  margin-bottom: 57px;
}

.Group4 .right p {
  font-size: 17px;
  color: #6b6d6b;
  letter-spacing: -1px;
  line-height: 1.7;
  margin-bottom: 27px;
}

.c1a9cd6 {
  color: #1a9cd6;
}

.c0a60bc {
  color: #0a60bc;
}

.Rectangle3 {
  width: 219px;
  height: 43px;
  background: rgb(9, 98, 164);
  background: linear-gradient(
    90deg,
    rgba(9, 98, 164, 1) 0%,
    rgba(204, 17, 141, 1) 100%,
    rgba(69, 132, 227, 1) 100%
  );
  border: 1px solid #015c61;
  color: #e7eeff;
  position: relative;
}

.Rectangle3 .Rectangle3_text {
  position: absolute;
  top: 7px;
  left: 22px;
  font-size: 17px;
}

.Rectangle3 .shape5 {
  position: absolute;
  top: 14px;
  right: 22px;
}

.BUSANCITYTOUR {
  font-size: 26px;
  color: #747474;
  position: absolute;
  right: 0;
  bottom: 66px;
}

/* Group5 */
.Group5 {
  width: 100%;
  height: 176px;
  background-color: #f6f6f7;
}

.Group5_c {
  width: 1200px;
  height: 176px;
  margin: 0 auto;
}

.Group5_tb {
  float: left;
}

.Group5_t {
  font-size: 32px;
  color: #222;
  font-weight: 700;
  padding-top: 50px;
}

.Group5_t2 {
  font-size: 18px;
  color: #6a6c6a;
}

.Group5_ul {
  display: flex;
  float: right;
}

.Group5_li {
  padding: 0 50px;
  margin: 58px 0;
  border-right: 1px solid #e8e8e9;
}

.Group5_li:last-child {
  border: none;
}

/* Group6 */
.Group6 {
  width: 1600px;
  height: 640px;
  background-image: url(../images/sub_group6.png);
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
}

.Group6_t {
  font-size: 32px;
  color: #222;
  font-weight: 700;
  position: absolute;
  top: 40px;
  left: 200px;
}

.Group6_map {
  position: absolute;
  top: 124px;
  left: 200px;
}

.Group6_tp {
  font-size: 16px;
  color: #e580cc;
  font-weight: 700;
  position: absolute;
  top: 13px;
  right: 100px;
}

.Group6_ul {
  position: absolute;
  top: 118px;
  right: 260px;
}

.Group6_li {
  display: flex;
  margin-bottom: 10px;
  font-size: 16px;
  color: #555;
}

.Group6_tl {
  width: 103px;
  margin-left: 10px;
}

/* footer */
.footer {
  width: 100%;
  height: 262px;
  background-color: #161616;
}

.footer_content {
  width: 1200px;
  height: 262px;
  margin: 0 auto;
  position: relative;
}

.footer_content .footer_title {
  position: absolute;
  top: 30px;
  left: 0;
  font-size: 24px;
  color: #fff;
}

.footer_content .footer_icon {
  position: absolute;
  top: 30px;
  right: 250px;
  display: flex;
  gap: 25px;
}

.footer_content ul li {
  font-size: 26px;
  color: #fff;
  font-weight: 700;
}

.footer_content p {
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  position: absolute;
  top: 40px;
  right: 125px;
}

.footer_content .f_line {
  height: 1px;
  width: 10px;
  background-color: #8b8b8b;
  position: absolute;
  top: 55px;
  right: 103px;
}

.footer_content .n1330 {
  font-size: 40px;
  color: #f30099;
  font-weight: 700;
  position: absolute;
  top: 10px;
  right: 10px;
}

.footer_content .f_box {
  width: 1000px;
  height: 60px;
  border: 1px solid #fff;
  position: absolute;
  top: 90px;
}

.footer_content .f_box ul {
  display: flex;
  margin-top: 20px;
  margin-left: 50px;
  gap: 25px;
}

.footer_content .f_box ul li {
  color: #fff;
  font-size: 14px;
}

.footer_content .f_box ul li:first-child {
  color: #4290d8;
}

.footer_content .f_box2 {
  width: 201px;
  height: 60px;
  border: 1px solid #fff;
  position: absolute;
  top: 90px;
  right: 0;
  display: flex;
}

.f_box2 .f_box2_p {
  color: #fff;
  font-size: 14px;
  padding: 20px;
}

.f_box2 .f_box2_p2 {
  color: #fff;
  font-size: 14px;
  padding: 20px;
}

.footer_content .copyright_top {
  font-size: 13px;
  color: #bababa;
  position: absolute;
  bottom: 70px;
  display: flex;
}

.copyright_top .address {
  margin-right: 10px;
  padding-right: 14px;
  position: relative;
}

.copyright_top .address:after {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 12px;
  background: rgba(255, 255, 255, 0.4);
  right: 0;
  top: 3px;
}

.copyright_top .tel {
  margin-right: 10px;
  padding-right: 14px;
  position: relative;
}

.copyright_top .tel:after {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 12px;
  background: rgba(255, 255, 255, 0.4);
  right: 0;
  top: 3px;
}

.copyright {
  font-size: 13px;
  color: #bababa;
  position: absolute;
  bottom: 48px;
}

.top {
  position: fixed;
  right: 5%;
  bottom: 2%;
  width: 74px;
  height: 74px;
  background: url(../images/TOP.png);
  background-repeat: no-repeat;
}
