@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

/* title_all */
.title_all {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 70px;
  background-color: #fff;
  z-index: 1;
}

.title {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 1600px;
  height: 70px;
  z-index: 1;
}

.head {
  background-color: #0050a0;
  width: 182px;
  height: 160px;
  margin: 0 0 0 199px;
}

.head img {
  width: 74px;
  margin: 30px 0 0 55px;
}

.head h1 {
  color: #f3f7fb;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu ul {
  display: flex;
  padding: 24px 30px;
}

.menu ul li a {
  margin: 35px;
  color: #666666;
}

.lan {
  display: flex;
}

.lan p {
  margin-top: 24px;
  color: #666666;
}

.lan .line {
  border-right: 1px solid #666666;
  margin-bottom: 115px;
  margin-left: 20px;
  margin-right: 20px;
}
.lan img {
  width: 33px;
  height: 33px;
  margin: 10px;
}

/* Group2 */
.Group2 {
  width: 100%;
  height: 422px;
  background-image: url('../images/img_02.png');
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 70px;
  text-align: center;
  color: #fff;
  position: relative;
}

.Group2 .c_title {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Group2 h1 {
  font-size: 44px;
}

.Group2 h2 {
  font-size: 18px;
}

.Group2 .c_menu {
  display: flex;
  width: 1200px;
  height: 60px;
  background-color: #123e75;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.Group2 .c_menu .cli {
  width: 240px;
  height: 60px;
  padding-top: 18px;
}

.Group2 .c_menu .cli p {
  border-right: 1px solid #416a9b;
}

.Group2 .c_menu .cli:first-child p {
  border: none;
}

.Group2 .c_menu .cli:nth-child(2) p {
  border: none;
}

.Group2 .c_menu .cli:last-child p {
  border: none;
}

.Group2 .c_menu .cli_01 {
  background-color: #fff;
  color: #1a62ab;
}

/* Group3 */
.Group3 {
  width: 1600px;
  margin: 0 auto;
  position: relative;
}

.Group3 .busan2030 {
  width: 420px;
  height: 540px;
  background-image: url(../images/sub_2_2030.png);
  background-repeat: no-repeat;
  background-position: -290px 5px;
  position: absolute;
  top: 48px;
  left: 200px;
}

.Group3 .Shape9 {
  width: 157px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 133px;
  left: 483px;
}

.Group3 h1 {
  /* 해외 마케팅 */
  font-size: 33px;
  color: #fff;
  position: absolute;
  top: 111px;
  left: 669px;
}

/* Group4 */
.Group4 {
  width: 1600px;
  height: 743px;
  margin: 0 auto;
  position: relative;
}

.Group4_line {
  background-color: #ddd;
  width: 1px;
  height: 220px;
  position: absolute;
  top: 400px;
  left: 200px;
}

.Group4 h2 {
  /* 부산 관광 홍보 및 활성화 활동 */
  font-size: 30px;
  color: #222;
  position: absolute;
  top: 386px;
  left: 258px;
}

.Group4 .t_ul {
  position: absolute;
  left: 258px;
  top: 502px;
}

.Group4 .t_ul .t_li {
  font-size: 18px;
  font-weight: bold;
  color: #222;
}

.c00d8ff {
  color: #00d8ff;
}

.c00c6ff {
  color: #00c6ff;
}

.Group4 h3 {
  font-size: 30px;
  color: #000;
  position: absolute;
  top: 93px;
  left: 662px;
}

.Group4 p {
  font-size: 18px;
  color: #000;
  position: absolute;
  top: 188px;
  left: 662px;
}

.Group4 .global_marketing {
  font-size: 25px;
  color: #000;
  position: absolute;
  top: 390px;
  left: 1152px;
}

.Group4 .i_ul {
  display: flex;
  position: absolute;
  top: 517px;
  left: 662px;
}

.Group4 .i_ul .i_li img {
  width: 168px;
  height: 136px;
  margin-right: 16px;
}

.Group4 .rectangle {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

/* footer */
.footer {
  width: 100%;
  height: 262px;
  background-color: #161616;
}

.footer_content {
  width: 1200px;
  height: 262px;
  margin: 0 auto;
  position: relative;
}

.footer_content .footer_title {
  position: absolute;
  top: 30px;
  left: 0;
  font-size: 24px;
  color: #fff;
}

.footer_content .footer_icon {
  position: absolute;
  top: 30px;
  right: 250px;
  display: flex;
  gap: 25px;
}

.footer_content ul li {
  font-size: 26px;
  color: #fff;
  font-weight: 700;
}

.footer_content p {
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  position: absolute;
  top: 40px;
  right: 125px;
}

.footer_content .f_line {
  height: 1px;
  width: 10px;
  background-color: #8b8b8b;
  position: absolute;
  top: 55px;
  right: 103px;
}

.footer_content .n1330 {
  font-size: 40px;
  color: #f30099;
  font-weight: 700;
  position: absolute;
  top: 10px;
  right: 10px;
}

.footer_content .f_box {
  width: 1000px;
  height: 60px;
  border: 1px solid #fff;
  position: absolute;
  top: 90px;
}

.footer_content .f_box ul {
  display: flex;
  margin-top: 20px;
  margin-left: 50px;
  gap: 25px;
}

.footer_content .f_box ul li {
  color: #fff;
  font-size: 14px;
}

.footer_content .f_box ul li:first-child {
  color: #4290d8;
}

.footer_content .f_box2 {
  width: 201px;
  height: 60px;
  border: 1px solid #fff;
  position: absolute;
  top: 90px;
  right: 0;
  display: flex;
}

.f_box2 .f_box2_p {
  color: #fff;
  font-size: 14px;
  padding: 20px;
}

.f_box2 .f_box2_p2 {
  color: #fff;
  font-size: 14px;
  padding: 20px;
}

.footer_content .copyright_top {
  font-size: 13px;
  color: #bababa;
  position: absolute;
  bottom: 70px;
  display: flex;
}

.copyright_top .address {
  margin-right: 10px;
  padding-right: 14px;
  position: relative;
}

.copyright_top .address:after {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 12px;
  background: rgba(255, 255, 255, 0.4);
  right: 0;
  top: 3px;
}

.copyright_top .tel {
  margin-right: 10px;
  padding-right: 14px;
  position: relative;
}

.copyright_top .tel:after {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 12px;
  background: rgba(255, 255, 255, 0.4);
  right: 0;
  top: 3px;
}

.copyright {
  font-size: 13px;
  color: #bababa;
  position: absolute;
  bottom: 48px;
}

.top {
  position: fixed;
  right: 5%;
  bottom: 2%;
  width: 74px;
  height: 74px;
  background: url(../images/TOP.png);
  background-repeat: no-repeat;
}
